@charset "ISO-8859-1";
body
{
	background-color: lightgray;
	background-image: url("images/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
.whitediv
{

	height: 640px;
	width: 600px;
	background-color: lightcyan;
	margin-left: 50px;
	margin-top: 20px;
	
	opacity: 0.7;
	border: transparent;
}
.lab 
{
	font-size: 30px;
	color: dodgerblue;
	font-family: bold;
	padding-left: 80px;
	height: 50px;
	width: 360px;
	
	margin-left: 80px;
	padding-top: 10px;
	margin-top: 10px;
}

.lab :hover
{
	
	color: darkblue;
	
}

label
{
	padding-left: 50px;
	
	font-size: 15px;
}
.textbox 
{
	height: 35px;
	width: 220px;
	margin-top: 1px;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-right: none;
	background-color: transparent;
	margin-left: 70px;
	margin-top: 25px;
}
.btn 
{
	height: 40px;
	width: 120px;
	background-color: green;
	margin-left: 30px;
	color: white;
	margin-top: 30px;
}
