@charset "ISO-8859-1";
.Doctor_list{
	height: 500px;
	width: 80%;
	background-color: whitesmoke;
	padding-top: 15px;
	margin-top: 50px;
	margin-left: 80px;
}
table{
	height: auto;
	width:90%;
	margin:20px 0 0 5% ;
	border: 2px solid black;
}
tr td{
	border:2px solid black ;
	text-align: center;
	height:40px ;
}



th
{
	border:2px solid black ;
	text-align: center;
	height: 40px; 
	background-color: aqua;
}

th:hover
{
	background-color: aqua;
}

h1{
	margin-top: 10px;
	
	padding-top: 15px;
	font-size: 50px;
	font-family: fantasy;
}