@charset "ISO-8859-1";
body{
	
	background-image: url("images/img2.jpg");
  background-size: cover;
  }
  
.whitediv{
	height:720px;
	width: 800px;
	background-color: gainsboro;
	margin-top: 50px;
	margin-left: 200px;
	outline: 2px solid black;
	opacity: 0.7;
	padding-left: 10px;
	padding-right: 30px;
	border-style: solid;
    border-color: skyblue;
	border-width: 1px;
	box-shadow: 3px 3px 3px 3px whitesmoke; 
}


h2{
	margin-left: 150px;
	
}

.textbox 
{
	height: 40px;
	margin-left: 22px;
	width: 220px;
	margin-top: 20px;
}
label
{
	padding-left: 20px;
	padding-top: 30px;
}
.btn 
{
	height: 40px;
	width: 200px;
	background-color: orange;
	color: black;
	margin-left: 350px;
}