@charset "ISO-8859-1";
.whitediv{
	height: 700px;
	width: 480px;
	background-color: skyblue;
	margin-left: 450px;
	margin-top: 100px;
	
}
h2{
	margin-left: 115px;
	margin-top: 100px;
}
label{
	padding-top: 35px;
	padding-left: 25px;
}
.button{
	height: 50px;
	width:150px ;
	background-color: green;
	margin-left: 100px;
	color: white;
	margin-top: 30px;
	
}
.textbox
{
	height: 40px;
	width: 220px;
	}