@charset "ISO-8859-1";
body 
{
	background-color: gainsboro;
	background-image: url("images/6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.whitediv
{
	height: 600px;
	width: 520px;
	background-color: white;
	margin-top: 60px;
	margin-left: 50px;
}
.textbox
{
	height: 40px;
	width: 230px;
	margin-left: -50px;
	margin-top: -25px;
}
label
{
	font-size: 15px;
	padding-top: 40px;
}
.button
{
	height: 40px;
	width: 120px;
	background-color: red;
	color: white;
	
}
