@charset "ISO-8859-1";
.box
{
	height: 300px;
	width: 500px;
	background-color: gainsboro;
	margin-left: 300px;
	margin-top: 160px	;
}
label
{
	height: 40px;
	width: 90px;
	background-color: whitesmoke;
	border-radius: 20px;
	padding-left: 20px;
	padding-top: 10px;
}
.lab
{
	
	height: 40px;
	margin-left: 140px;
	width: 230px;
	background-color: whitesmoke;
	border-radius: 20px;
	padding-left: 60px;
	padding-top: 10px;
	font-size: 20px;
}