@charset "ISO-8859-1";
body{
	background-color: mistyrose;
	background-image: url("images/9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}
.whitediv{
	height: 540px;
	width: 480px;
	background-color: aliceblue;
	margin-left: 350px;
	margin-top: 10px;
}
h2{
	margin-left: 115px;
}
label{
	padding-top: 35px;
	padding-left: 25px;
}
.button{
	height: 50px;
	width:150px ;
	background-color: green;
	margin-left: 190px;
	color: white;
	margin-top: 30px;
	
}
.textbox
{
	height: 40px;
	width: 220px;
	margin-top: 40px;
	}