@charset "ISO-8859-1";
.whitediv{
	height: 450px;
	width: 850px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 40px;
	outline: 2px solid black;
}
.btn 
{
	height: 40px;
	width: 200px;
	background-color: deeppink;
	margin-left: 120px;
	color: white;
	margin-top: 20px;
}
.button
{
	height: 40px;
	width: 300px;
	background-color: orange;
	margin-left: 100px;
	color: white
	}
	