@charset "ISO-8859-1";
.Stock_list{
	height: 500px;
	width: 80%;
	background-color: whitesmoke;
	padding-top: 15px;
	margin-top: 50px;
	margin-left: 80px;
}
thead
{
	background-color: darkcyan;
}
table{
	height: auto;
	width:90%;
	margin:20px 0 0 5% ;

}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {
	
	background-color: #D6EEEE;
}

h1{
	margin-top: 10px;
	margin-left: 120px;
	padding-top: 15px;
	font-size: 50px;
	font-family: fantasy;
}