@charset "ISO-8859-1";
body 
{
	background-color: gainsboro;
	background-image: url("images/7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.whitediv
{
	height: 630px;
	width: 600px;
	background-color: white;
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 20px;

}
.textbox
{
	height: 40px;
	width: 230px;
	margin-left: 10px;
	margin-top:25px;
}
label
{
	font-size: 15px;
	margin-top:20px;
	
}
.button
{
	width:200px;
  height:50px;
  border-radius:10px;
  background-color:lightseagreen;
  font-size:20px;
  margin-left: 50px;
  border: transparent;
}
