@charset "ISO-8859-1";
body
{
	background-color: lightgray;
	background-image: url("images/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
.whitediv
{

	height: 550px;
	width: 550px;
	background-color: transparent;
	margin-left: 50px;
	margin-top: -20px;
	outline: 2px solid black;
}
h2
{
	font-size: 30px;
	color: black;
	font-family: bold;
	padding-left: 30px;
	height: 50px;
	width: 460px;
	background-color: pink;
	margin-left: 80px;
	padding-top: 10px;
	margin-top: 10px;
}
label
{
	padding-left: 50px;
	padding-top: 20px;
	font-size: 15px;
}
.textbox 
{
	height: 35px;
	width: 220px;
	margin-top: 1px;
}
.btn 
{
	height: 40px;
	width: 120px;
	background-color: green;
	margin-left: 30px;
	color: white;
	margin-top: 30px;
}
.button
{
	height: 40px;
	width: 300px;
	background-color: orange;
	margin-left: 140px;
	color: white;
	margin-top:40px;
	}
	}
